<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="postgresConnector" class="org.anastasia.peopleinfoapplication.dbconnector.PostgresConnector"/>

    <bean id="personDaoImpl" class="org.anastasia.peopleinfoapplication.dao.PersonDaoImpl">
        <constructor-arg ref="postgresConnector"/>
    </bean>
    <bean id="personServiceImpl" class="org.anastasia.peopleinfoapplication.service.PersonServiceImpl">
        <constructor-arg ref="personDao"/>
    </bean>
</beans>